:root {
    --red: #F53855;
    --shadow: #f3778a;
    --black: #0B132A;
    --grey: #4F5665;
    --bg: #F6F6F6;
    --font: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-white {
    min-height: 100%;
    overflow: hidden;
}

/* ////////////////////////////////////////////////////////////////// */
.wrapper-grey {
    min-height: 100%;
    overflow: hidden;
}
/* ////////////////////////////////////////////////////////////////// */
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    position: absolute;
    width: 100%;
    margin-top: 45px;
    left: 0;
    top: 0px;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    min-height: 45px;
    align-items: center;
}

@media (max-width: 1000px) {
    .header-container {
        flex-direction: column;
    }
    .header-navbar {
        margin: 40px 0;
    }
}


.header-navbar,
.navbar-list {
    display: flex;
}

.navbar-list-item {
    list-style-type: none;
}

.navbar-list-item:not(:last-child) {
    margin-right: 40px;
}

.navbar-list-item-link {
    text-decoration: none;
    color: var(--grey);
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: 0.6s;
}

.navbar-list-item-link:hover {
    color: var(--black);
}

.btn {
    font-family: var(--font);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.btn-up {
    padding: 13px 45px;
    margin-left: 30px;
    color: var(--red);
    background-color: inherit;
    border: 1px solid var(--red);
    border-radius: 50px;
    transition: 0.6s;
}

.btn-up:hover {
    background-color: var(--red);
    color: white;
}

@media (max-width: 500px) {
    .navbar-list-item:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 390px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-list-item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px;
    }

}

/* MAIN CONTENT */

/* .main {
    margin: 0 auto;
    max-width: 1140px;
}

.section-present {
    margin-bottom: 125px;
    background-color: green;
}

.content-section-present {
    display: flex;
    margin-bottom: 102.3px;
}

.title-content {
    max-width: 555px;
    margin-top: 28px;
    margin-right: 40px;
    font-family: var(--font);
}

.title {
    margin-bottom: 20px;
    color: var(--black);
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}

.text {
    margin-left: 9px;
    margin-bottom: 50px;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.btn-start {
    margin-left: 9px;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: var(--red);
    color: var(--bg);
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-start:hover {
    box-shadow: 0 4px 3px var(--shadow), 0 7px 10px var(--shadow);
}

.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 95px;
    padding: 0 85px 0 95px;
    width: 1140px;
    height: 200px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
}

.info {
    display: flex;
}

.data-info {
    margin-left: 35.5px;
}

.main-info-title {
    color: var(--black);
    font-family: var(--font);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.main-info-text {
    color: var(--grey);
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.features-content {
    display: flex;
    max-width: 1105px;
    margin: auto;
    justify-content: center;
}

.features-info {
    margin: 54.5px 0 0 170px;
}

.features-title {
    color: var(--black);
    font-family: var(--font);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.features-text {
    margin: 20px 0 20px 0;
    color: var(--grey);
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.features-list-item {
    padding-left: 35px;
    font-family: var(--font);
    color: var(--grey);
    background: url(./img/mark.svg) no-repeat left center;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.section-subscription {
    padding-top: 80px;
} */