:root {
    --red: #F53855;
    --shadow: #f3778a;
    --black: #0B132A;
    --grey: #4F5665;
    --bg: #F6F6F6;
    --font: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-white {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

/* ////////////////////////////////////////////////////////////////// */
.wrapper-grey {
    min-height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #f6f6f6, #f8f8f8, #fafafa, #fdfdfd, #ffffff);
}

/* ////////////////////////////////////////////////////////////////// */
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

/* HEADER */

.header {
    position: absolute;
    width: 100%;
    margin-top: 45px;
    left: 0;
    top: 0px;
    z-index: 10;
}

.header-container {
    display: flex;
    justify-content: space-between;
    min-height: 45px;
    align-items: center;
}

@media (max-width: 1000px) {
    .header-container {
        flex-direction: column;
    }

    .header-navbar {
        margin: 40px 0;
    }
}


.header-navbar,
.navbar-list {
    display: flex;
}

.navbar-list-item {
    list-style-type: none;
}

.navbar-list-item:not(:last-child) {
    margin-right: 40px;
}

.navbar-list-item-link {
    text-decoration: none;
    color: var(--grey);
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: 0.6s;
}

.navbar-list-item-link:hover {
    color: var(--black);
}

.btn {
    color: var(--black);
    font-family: var(--font);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    text-decoration: none;
}

.btn-up {
    padding: 13px 45px;
    margin-left: 30px;
    color: var(--red);
    background-color: inherit;
    border: 1px solid var(--red);
    border-radius: 50px;
    transition: 0.6s;
}

.btn-up:hover {
    background-color: var(--red);
    color: white;
}

@media (max-width: 500px) {
    .navbar-list-item:not(:last-child) {
        margin-right: 20px;
    }

    .header-navbar {
        margin-top: 20px;
    }
}

@media (max-width: 390px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .navbar-list-item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .header-navbar {
        margin-top: 15px;
    }

}

/* MAIN CONTENT */

.main {
    margin-top: 135px;
}

.section-present {
    margin-bottom: 125px;
}

.section-present-content {
    display: flex;
    margin-bottom: 102.3px;
}

.section-present-title-content {
    max-width: 555px;
    margin-top: 28px;
    margin-right: 40px;
    font-family: var(--font);
}

.present-title {
    margin-bottom: 20px;
    color: var(--black);
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}

.present-text {
    margin-bottom: 50px;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.btn-start {
    padding: 17.5px 78.5px;
    border: none;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--bg);
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    transition: 0.6s;
}

.btn-start:hover {
    box-shadow: 0 4px 3px var(--shadow), 0 7px 10px var(--shadow);
}

@media (max-width: 1000px) {
    .section-present-illustration {
        display: none;
    }

    .main {
        margin-top: 250px;
    }

    .section-present {
        margin-bottom: 80px;
    }

    .section-present-content {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .section-present-title-content {
        margin: 0;
    }
}

@media (max-width: 390px) {
    .main {
        margin-top: 350px;
    }

    .section-present-title-content {
        margin: 0;
    }

    .present-title {
        font-size: 30px;
        line-height: 50px;
    }

    .present-text {
        font-size: 12px;
        line-height: 24px;
    }

}

/* ....................................................... */
.main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 95px;
    padding: 35.5px 85px 35.5px 95px;
    max-width: 1140px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
}

@media (max-width: 1000px) {
    .main-info {
        display: block;
        max-width: fit-content;
        max-height: fit-content;
        padding: 50px;
    }

    .img-line {
        display: none;
    }

    .info:not(:last-child) {
        padding-bottom: 50px;
    }
}

.info {
    display: flex;
}

.data-info {
    margin-left: 35.5px;
}

.main-info-title {
    color: var(--black);
    font-family: var(--font);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.main-info-text {
    color: var(--grey);
    font-family: var(--font);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


/* .................................................... */

.section-features {
    padding-bottom: 125px;
}

.features-content {
    display: flex;
    max-width: 1105px;
    margin: auto;
    justify-content: center;
}

.features-info {
    margin: 54.5px 0 0 170px;
}

.features-title {
    color: var(--black);
    font-family: var(--font);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.features-text {
    margin: 20px 0 20px 0;
    color: var(--grey);
    font-family: var(--font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.features-list-item {
    padding-left: 35px;
    font-family: var(--font);
    color: var(--grey);
    background: url(./img/mark.svg) no-repeat left center;
    list-style-type: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}


@media (max-width: 1000px) {

    .features-content {
        flex-direction: column;
    }

    .section-features-illustration {
        display: none;
    }

    .features-info {
        margin: 0 auto;

    }

    .features-list-item {
        width: fit-content;
    }

    .features-title {
        text-align: center;
    }

    .features-text {
        text-align: center;
    }
}

/* //////////////////////////////////////////////////////// */

.section-choose-plan {
    margin-bottom: 150px;
}

.section-choose-plan-title-content {
    margin: 80px 0 60px 0;
    text-align: center;
}

.choose-plan-title {
    margin-bottom: 20px;
    font-family: var(--font);
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.choose-plan-text {
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

/* ////////////////////////////////////////////// */
.choose-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    text-align: center;
    padding: 80px 67px 50px;
    max-width: 330px;
    max-height: 760px;
    font-family: var(--font);
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    background-color: #ffff;
}

.box-title {
    margin: 30px 0;
    font-family: var(--font);
    color: var(--grey);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.box-list-item {
    float: left;
    padding-left: 30px;
    background: url(./img/jam_check.svg) no-repeat left center;
    list-style-type: none;
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.select-blok {
    margin-top: 300px;
}

.select-block-title {
    margin-bottom: 20px;
    font-family: var(--font);
    color: var(--black);
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.select-block-title>span {
    color: #4F5665;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

.btn-select {
    width: 177px;
    height: 45px;
    border: 2px solid var(--red);
    border-radius: 50px;
    background-color: inherit;
    font-family: var(--font);
    color: var(--red);
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

@media (max-width: 1040px) {
    .choose-box {
        justify-content: center;
        display: grid;
        gap: 20px 0;
    }

    .select-blok {
        margin-top: 250px;
    }

    .box {
        padding: 50px;
    }
}


/* ////////////////////////////////////////////////////// */

.section-location {
    text-align: center;
}

.section-location-title-content {
    margin-bottom: 150px;
}

.loaction-title {
    margin-bottom: 20px;
    font-family: var(--font);
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.loaction-text {
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .//////////////////////////////////////////////////// */

.section-testimonials {
    text-align: center;
}

.section-testimonials-title-content {
    margin-bottom: 60px;
}

.testimonials-title {
    margin: 50px 0 20px 0;
    font-family: var(--font);
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.testimonials-text {
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

/* SLIDER */

.section-testimonials {
    margin-bottom: 300px;
}

.slider {
    display: flex;
    position: relative;
}

.slider-item {
    max-width: 400px;
    margin-right: 50px;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 25px;
}

.slider-item:first-child {
    margin-right: 0px;
}

.user-info {
    margin-bottom: 10px;
}

.username {
    display: flex;
}

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
}

@media (max-width:767px) {
    .slider {
        padding: 0px 40px;
    }
}

.slider .slick-arrow {
    position: absolute;
    top: 200px;
    margin: 30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    border: none;
    background: url('./img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    border: none;
    background: url('./img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}


/* FOOTER */

.footer {
    background-image: linear-gradient(to bottom, #f6f6f6, #f8f8f8, #fafafa, #fdfdfd, #ffffff);
    margin-top: 180px;
    margin-bottom: 100px;
}

.footer-contacts {
    margin-right: 230px;
}

.footer-container {
    display: flex;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-list-container:not(:last-child) {
    margin-right: 125px;
}

.footer-contacts-text {
    margin: 20px 0 30px;
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.text-sc {
    font-family: var(--font);
    color: #AFB5C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.list-title {
    margin-bottom: 20px;
    font-family: var(--font);
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.footer-list {
    list-style-type: none;
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.footer-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-list-item {
    width: fit-content;
}

.footer-list-item>a {
    text-decoration: none;
    color: inherit;
}

.footer-list-item:hover {
    text-decoration: underline;
}

@media (max-width:960px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-contacts {
        text-align: center;
        margin: 0 0 50px 0;
    }
}

@media (max-width:540px) {
    .footer-links {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-list-container {
        margin: 0 0 30px 0;
    }

    .footer-list-container:not(:last-child) {
        margin-right: 0px;
    }

    .footer-list-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .footer-list-item {
        width: 100%;
    }
}

.section-sub {
    position: absolute;
    padding: 0;
    max-width: 1140px;
    width: 100%;
    bottom: 440px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background-color: white;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.sub-title-container {
    font-family: var(--font);
}


.sub-title {
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}

.sub-text {
    margin-top: 20px;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.btn-sub {
    padding: 17.5px 65px;
    background-color: var(--red);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

@media (max-width:1180px) {
    .sub-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-sub {
        left: 50%;
        transform:translate(-50%);
        width: fit-content;
    } 

    .sub-text {
        margin: 10px 0;
    }
}

@media (max-width:1080px) {
    .section-sub {
        bottom: 470px;
    }
}

@media (max-width:960px) {
    .section-sub {
        bottom: 700px;
    }
}

@media (max-width:600px) {
    .section-sub {
        bottom: 750px;
    }
}

@media (max-width:560px) {
    .section-sub {
        bottom: 800px;
    }
}

@media (max-width:540px) {
    .section-sub {
        bottom: 1100px;
    }
}