:root {
    --red: #F53855;
    --shadow: #f3778a;
    --black: #0B132A;
    --grey: #4F5665;
    --bg: #F6F6F6;
    --font: 'Rubik', sans-serif;
}

/* NORMALIZE*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: var(--font);
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    color: var(--grey);
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.subtitle {
    margin: 20px 0 0;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.button {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

/* HEADER */

.header {
    margin: 0 0 90px 0;
}

.header-logo {
    transition: transform 250ms ease-in-out;
}

.header-logo:hover {
    transform: scale(1.1);
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.list-link {
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.list-item:not(:last-child) {
    margin: 0 40px 0 0;
}

.header-buttons-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button-sign-in {
    color: var(--black);
    font-weight: 500;
    line-height: 19px;
}

.button-sign-up {
    padding: 13px 45px;
    color: var(--red);
    border: 1px solid var(--red);
    border-radius: 50px;
    font-weight: 500;
    line-height: 19px;
    transition: 0.6s;
}

.button-sign-up:hover {
    color:#FFFFFF;
    background-color: var(--red);
}

@media screen and (max-width: 1140px) {
    .header-nav {
        gap: 80px;
    }

    .header-buttons-group {
        gap: 15px;
    }

    .list-item:not(:last-child) {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width: 1000px) {
    .header {
        margin: 0 0 32px 0;
    }
}

@media screen and (max-width: 900px) {
    .header-nav {
        background-color: #FFFFFF;
        box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
        border-radius: 50px;
        flex-direction: column;
        position: absolute;
        left: -100%;
        top: 70px;
        transition: .3s;
        z-index: 5;
        width: 80%;
    }

    .navbar {
        margin: 18px 0 0 0;
        text-align: center;
    }

    .header-nav.active {
        gap: 0;
        left: 50%;
        transform: translate(-50%);
        width: 90%;

    }

    .list-item:not(:last-child) {
        margin: 0;
        margin-bottom: 10px;
    }

    .nav-list {
        padding: 16px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-buttons-group {
        padding: 16px 0;
    }

    .btn-burger {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        position: absolute;
        right: 30px;
        top: 30px;
        width: 30px;
        height: 20px;
        border: 0;
        border-radius: 50%;
        z-index: 100;
        cursor: pointer;
    }

    .btn-burger .line,
    .btn-burger .line::after,
    .btn-burger .line::before {
        display: inline-block;
        background-color: var(--red);
        height: 4px;
        transition: 0.3s;
    }

    .btn-burger .line::after,
    .btn-burger .line::before {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
    }

    .btn-burger .line::before {
        top: 10px;
    }

    .btn-burger .line::after {
        top: -10px;
    }

    .btn-burger .line {
        width: 90%;
        position: relative;
    }

    .btn-burger.active .line {
        background-color: transparent;
    }

    .btn-burger.active .line::after,
    .btn-burger.active .line::before {
        top: 0;
    }

    .btn-burger.active .line::after {
        transform: rotate(-45deg);
    }

    .btn-burger.active .line::before {
        transform: rotate(45deg);
    }
}

/* MAIN CONTENT */

.main {
    position: relative;
}

/* SECTION ABOUT */

.section-about-body {
    display: flex;
    margin-bottom: 100px;
}

.section-about-title-block {
    max-width: 555px;
    margin-top: 28px;
    margin-right: 40px;
}

.title-block-caption {
    color: var(--black);
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}

.title-block-subtitle {
    margin-bottom: 62.5px;
}

.title-block-button-start {
    padding: 17.5px 78.5px;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--bg);
    transition: 0.6s;
}

.title-block-button-start:hover {
    box-shadow: 0 4px 3px var(--shadow), 0 7px 10px var(--shadow);
}

@media screen and (max-width: 1000px) {
    .section-about-illustration {
        display: none;
    }

    .section-about-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .title-block-subtitle {
        margin-bottom: 30px;
    }

    .section-about-title-block {
        margin: 0;
    }
}

@media screen and (max-width: 390px) {
    .section-about-title-block {
        margin: 0;
    }

    .title-block-caption {
        font-size: 30px;
        line-height: 50px;
    }

    .title-block-subtitle {
        font-size: 12px;
        line-height: 24px;
    }

}

/* SECTION MAIN INFO */

.section-main-info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
    padding: 35.5px 85px 35.5px 95px;
    height: fit-content;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
}

@media screen and (max-width: 1000px) {
    .section-main-info-body {
        display: block;
        margin: 0 auto;
        max-width: fit-content;
        max-height: fit-content;
        padding: 30px;
        text-align: center;
        margin-bottom: 50px;
    }

    .dividing-line {
        transform: rotate(90deg);
    }
}

.info-block {
    display: flex;
}

.main-info-title-block {
    margin-left: 35.5px;
}

.main-info-title {
    color: var(--black);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.main-info-subtitle {
    color: var(--grey);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


/* SECTION FEATURES */

.section-features-body {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.section-features-title-block {
    margin: 54.5px 0 0 170px;
}

.features-title {
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.features-text {
    margin: 20px 0 20px 0;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.features-subtitle {
    margin: 20px 0 20px 0;
}

.features-list {
    width: fit-content;
}

.features-item {
    padding-left: 35px;
    background: url(../img/icons/mark.svg) no-repeat left center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.features-item:not(:last-child) {
    margin-bottom: 15px;
}


@media screen and (max-width: 1000px) {

    .section-features-body {
        text-align: center;
        margin-bottom: 50px;
    }

    .section-features-illustration {
        display: none;
    }

    .section-features-title-block {
        margin: 0 auto;

    }

    .features-item {
        width: fit-content;
    }

    .features-title {
        text-align: center;
    }

    .features-text {
        text-align: center;
    }
}

/* SECTION PRICING */

.section-bg-grey {
    background-image: linear-gradient(to bottom, #f6f6f6, #f8f8f8, #fafafa, #fdfdfd, #ffffff);
}

.section-pricing-body {
    margin-bottom: 150px;
    padding: 80px 0 0 0;
}

.section-pricing-title-content {
    text-align: center;
    margin: 0 0 60px 0;
}

.pricing-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px
}

.box {
    max-width: 330px;
    padding: 50px 68px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    border-color: var(--red);
}

.box-title-body {
    text-align: center;
    margin: 0 0 30px 0;
}

.box-title {
    margin: 30px 0 0 0;
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.box-list-body-free {
    margin-bottom: 130px;
}

.box-list-body-standard {
    margin-bottom: 90px;
}

.box-list-body-premium {
    margin-bottom: 50px;
}

.box-item {
    padding: 0 0 0 30px;
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    background: url(../img/icons/jam_check.svg) no-repeat left center;
}

.box-item:not(:last-child) {
    margin: 0 0 10px 0;
}

.select-title {
    margin: 0 0 20px 0;
    color: var(--black);
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.select-title>span {
    color: var(--grey);
    font-weight: 400;
}

.select-block-body {
    text-align: center;
}

.button-select {
    padding: 13px 63px;
    background-color: inherit;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    transition: 0.6s;
}

.button-select:hover {
    background-color: var(--red);
    color: #ffffff;
}

@media screen and (max-width: 1000px) {
    .section-pricing-body {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .box {
        padding: 20px 38px;
    }
}

/* SECTION LOCATIONS */

.section-location-body {
    margin-bottom: 50px;
    text-align: center;
}

.section-location-title-body {
    margin-bottom: 100px;
}

.companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 80px;
}

/* SECTION TESTIMONIALS*/

.section-testimonials-title-body {
    text-align: center;
    margin-bottom: 60px;
}

/* SLIDER */

.slider {
    display: flex;
    position: relative;
}

.slider-item {
    max-width: fit-content;
    height: 230px;
    overflow: hidden;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin: 0 25px;
    padding: 25px;
}

.slider-item ::-webkit-scrollbar {
    display: none;
}

.user-info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.username-body {
    margin-left: 20px;
}

.username {
    margin-bottom: 5px;
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.dislocation {
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.personality-body {
    display: flex;
    align-items: center;
}

.user-rating {
    display: flex;
    align-items: center;
}

.rating {
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
}

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
    padding: 0 0 350px 0;
}

.slider .slick-arrow {
    position: absolute;
    top: 250px;
    margin: 30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    border: none;
    background: url('../img/icons/arrow-left.svg') 0 0 / 100% no-repeat;
    cursor: pointer;
}

.slider .slick-arrow.slick-next {
    right: 0;
    border: none;
    background: url('../img/icons/arrow-right.svg') 0 0 / 100% no-repeat;
    cursor: pointer;
}


/* FOOTER */

.footer {
    background-image: linear-gradient(to bottom, #f6f6f6, #f8f8f8, #fafafa, #fdfdfd, #ffffff);
}

.footer-body {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 200px 0 105px 0;
}

.footer-links {
    display: flex;
}

.footer-list-container:not(:last-child) {
    margin-right: 125px;
    width: fit-content;
}

.footer-contacts-text {
    margin: 20px 0 30px;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.text-copyright {
    color: #AFB5C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.list-title {
    margin-bottom: 20px;
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.footer-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.footer-link {
    text-decoration: none;
    color: var(--grey);
    transition: 0.6s all;
}

.footer-item {
    width: fit-content;
    margin-bottom: 10px;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--black);
}


@media screen and (max-width:960px) {
    .footer-body {
        flex-direction: column;
    }

    .footer-contacts-body {
        text-align: center;
        margin: 0 0 50px 0;
    }

    .footer-links {
        justify-content: center;
    }
}

@media screen and (max-width:540px) {
    .footer-links {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-list-container {
        margin: 0 0 30px 0;
    }

    .footer-list-container:not(:last-child) {
        margin-right: 0px;
    }

    .footer-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .footer-item {
        width: 100%;
    }
}

/* SECTION SUBSCRIBE */

.section-absolute {
    position: absolute;
    padding: 0 15px;
    bottom: -120px;
    left: 50%;
    transform: translate(-50%);
    max-width: 1140px;
    width: 100%;
}

.section-subscribe-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 58.5px 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}


.sub-text {
    margin-top: 20px;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.button-subscribe {
    padding: 17.5px 65px;
    background-color: var(--red);
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    transition: 0.6s;
}

.button-subscribe:hover {
    box-shadow: 0 4px 3px var(--shadow), 0 7px 10px var(--shadow);
}

@media screen and (max-width:1180px) {
    .section-subscribe-body {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:560px) {
    .section-subscribe-body {
        padding: 10px;
    }
}