:root {
    --red: #F53855;
    --shadow: #f3778a;
    --black: #0B132A;
    --grey: #4F5665;
    --bg: #F6F6F6;
    --font: 'Rubik', sans-serif;
}

/* NORMALIZATION*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: var(--font);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    color: var(--grey);
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {

    overflow: hidden;
    background-color: #ffffff;
}

/* background-image: linear-gradient(to bottom, #f6f6f6, #f8f8f8, #fafafa, #fdfdfd, #ffffff); */

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.subtitle {
    margin: 20px 0 0;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.button {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

/* HEADER */

.header {
    width: 100%;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px 0 85px 0;
    min-height: 45px;
}

@media (max-width: 1000px) {
    .header-body {
        flex-direction: column;
    }

    .header-nav {
        margin: 40px 0;
    }
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    transition: 0.6s;
}

.nav-link:hover {
    color: var(--black);
}

.button-sign-in {
    color: var(--black);
    font-weight: 500;
}

.button-sign-up {
    font-weight: 500;
    padding: 13px 45px;
    margin-left: 30px;
    color: var(--red);
    background-color: inherit;
    border: 1px solid var(--red);
    border-radius: 50px;
    transition: 0.6s;
}

.button-sign-up:hover {
    background-color: var(--red);
    color: white;
}

@media (max-width: 500px) {
    .header-nav {
        margin-top: 20px;
    }

    .nav-item:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 390px) {
    .header-nav {
        margin-top: 15px;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

/* MAIN CONTENT */

/* SECTION ABOUT */

.section-about-body {
    display: flex;
    margin-bottom: 102.3px;
}

.section-about-title-block {
    max-width: 555px;
    margin-top: 28px;
    margin-right: 40px;
}

.title-block-caption {
    color: var(--black);
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
}

.title-block-subtitle {
    margin: 0 0 62.5px;
}

.title-block-button-start {
    padding: 17.5px 78.5px;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--bg);
    transition: 0.6s;
}

.title-block-button-start:hover {
    box-shadow: 0 4px 3px var(--shadow), 0 7px 10px var(--shadow);
}

@media (max-width: 1000px) {
    .section-about-illustration {
        display: none;
    }

    .section-about-body {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .section-about-title-block {
        margin: 0;
    }
}

@media (max-width: 390px) {
    .section-about-title-block {
        margin: 0;
    }

    .title-block-caption {
        font-size: 30px;
        line-height: 50px;
    }

    .title-block-subtitle {
        font-size: 12px;
        line-height: 24px;
    }

}

/* SECTION MAIN INFO */

.section-main-info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
    padding: 35.5px 85px 35.5px 95px;
    height: fit-content;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
}

@media (max-width: 1000px) {
    .section-main-info-body {
        display: block;
        max-width: fit-content;
        max-height: fit-content;
        padding: 50px;
    }

    .img-line {
        display: none;
    }

    .info-block:not(:last-child) {
        padding-bottom: 50px;
    }
}

.info-block {
    display: flex;
}

.main-info-title-block {
    margin-left: 35.5px;
}

.main-info-title {
    color: var(--black);
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
}

.main-info-subtitle {
    color: var(--grey);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}


/* SECTION FEATURES */

.section-features-body {
    display: flex;
    margin: 0 0 120px;
    justify-content: center;
}

.section-features-title-block {
    margin: 54.5px 0 0 170px;
}

.features-title {
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
}

.features-text {
    margin: 20px 0 20px 0;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.features-subtitle {
    margin: 20px 0 20px 0;
}

.features-list {
    width: fit-content;
}

.features-item {
    padding-left: 35px;
    background: url(../img/icons/mark.svg) no-repeat left center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.features-item:not(:last-child) {
    margin-bottom: 15px;
}


@media (max-width: 1000px) {

    .section-features-body {
        flex-direction: column;
    }

    .section-features-illustration {
        display: none;
    }

    .section-features-title-block {
        margin: 0 auto;

    }

    .features-item {
        width: fit-content;
    }

    .features-title {
        text-align: center;
    }

    .features-text {
        text-align: center;
    }
}

/* SECTION PRICING */

.section-bg-grey {
    background-image: linear-gradient(to bottom, #f6f6f6, #f8f8f8, #fafafa, #fdfdfd, #ffffff);
}

.section-pricing-body {
    margin: 0 0 150px 0;
    padding: 80px 0 0;
}

.section-pricing-title-content {
    text-align: center;
    margin: 0 0 60px;
}

.pricing-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px
}

.box {
    max-width: 330px;
    padding: 50px 68px;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
}

.box-title-body {
    text-align: center;
    margin: 0 0 30px 0;
}

.box-title {
    margin: 30px 0 0 0;
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.box-list-body-free {
    margin-bottom: 130px;
}

.box-list-body-standard {
    margin-bottom: 90px;
}

.box-list-body-premium {
    margin-bottom: 50px;
}

.box-item {
    padding: 0 0 0 30px;
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    background: url(../img/icons/jam_check.svg) no-repeat left center;
}

.box-item:not(:last-child) {
    margin: 0 0 10px 0;
}

.select-title {
    margin: 0 0 20px 0;
    color: var(--black);
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}

.select-title>span {
    color: var(--grey);
    font-weight: 400;
}

.select-block-body {
    text-align: center;
}

.button-select {
    padding: 13px 63px;
    background-color: inherit;
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/* SECTION LOCATIONS */

.section-location {
    text-align: center;
}

.section-location-title-body {
    margin-bottom: 100px;
}

.companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 0 50px 0;
}

/* SECTION TESTIMONIALS*/

.section-testimonials-title-body {
    text-align: center;
    margin-bottom: 60px;
}

/* SLIDER */

.slider {
    display: flex;
    position: relative;
}

.slider-item {
    max-width: fit-content;
    height: 230px;
    overflow: hidden;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    margin: 0 25px;
    padding: 25px;
}

.user-info-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.username-body {
    margin-left: 20px;
}

.username {
    margin-bottom: 5px;
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.dislocation {
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.personality-body {
    display: flex;
    align-items: center;
}

.user-rating {
    display: flex;
    align-items: center;
}

.rating {
    color: var(--black);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-right: 10px;
}

.slick-slider {
    min-width: 0;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    top: 250px;
    margin: 30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    border: none;
    background: url('../img/icons/arrow-left.svg') 0 0 / 100% no-repeat;
    cursor: pointer;
}

.slider .slick-arrow.slick-next {
    right: 0;
    border: none;
    background: url('../img/icons/arrow-right.svg') 0 0 / 100% no-repeat;
    cursor: pointer;
}


/* FOOTER */

.footer {
    background-image: linear-gradient(to bottom, #f6f6f6, #f8f8f8, #fafafa, #fdfdfd, #ffffff);
    margin-top: 180px;
    margin-bottom: 100px;
}

.footer-contacts {
    margin-right: 230px;
}

.footer-container {
    display: flex;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-list-container:not(:last-child) {
    margin-right: 125px;
}

.footer-contacts-text {
    margin: 20px 0 30px;
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.text-sc {
    font-family: var(--font);
    color: #AFB5C0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.list-title {
    margin-bottom: 20px;
    font-family: var(--font);
    color: var(--black);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.footer-list {
    list-style-type: none;
    font-family: var(--font);
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.footer-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-list-item {
    width: fit-content;
}

.footer-list-item>a {
    text-decoration: none;
    color: inherit;
}

.footer-list-item:hover {
    text-decoration: underline;
}

@media (max-width:960px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-contacts {
        text-align: center;
        margin: 0 0 50px 0;
    }
}

@media (max-width:540px) {
    .footer-links {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-list-container {
        margin: 0 0 30px 0;
    }

    .footer-list-container:not(:last-child) {
        margin-right: 0px;
    }

    .footer-list-item:not(:last-child) {
        margin-bottom: 0px;
    }

    .footer-list-item {
        width: 100%;
    }
}

.section-sub {
    position: absolute;
    padding: 0;
    max-width: 1140px;
    width: 100%;
    bottom: 440px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 20px 20px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background-color: white;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.sub-title-container {
    font-family: var(--font);
}


.sub-title {
    color: var(--black);
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
}

.sub-text {
    margin-top: 20px;
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.btn-sub {
    padding: 17.5px 65px;
    background-color: var(--red);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

@media (max-width:1180px) {
    .sub-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-sub {
        left: 50%;
        transform: translate(-50%);
        width: fit-content;
    }

    .sub-text {
        margin: 10px 0;
    }
}

@media (max-width:1080px) {
    .section-sub {
        bottom: 470px;
    }
}

@media (max-width:960px) {
    .section-sub {
        bottom: 700px;
    }
}

@media (max-width:600px) {
    .section-sub {
        bottom: 750px;
    }
}

@media (max-width:560px) {
    .section-sub {
        bottom: 800px;
    }
}

@media (max-width:540px) {
    .section-sub {
        bottom: 1100px;
    }
}